<Files new_member_kit.md> 

AuthUserFile "C:\wamp\www\fr-FR\pages\.htpasswd"
AuthName "Veuiller vous identifier"
AuthType Basic

require user admin

</Files> 
<Files new_member_kit.md> 

AuthUserFile "C:\wamp\www\fr-FR\pages.htpasswd"
AuthName "Veuiller vous identifier"
AuthType Basic

require user oneSITU

</Files> 
